<app-header></app-header>

<div class="app-container">
  <div class="preview-container">
    <div class="preview-container-title">
      Самая вкусная пицца в мире <br>
      <span class="preview-container-title-colored">только в Pizza Cheff</span>
    </div>
    
    <div class="preview-container-body">
      <div class="left-side">
        <div class="describe-container">
          <img src="assets/icons/hop.svg" class="describe-icon">
          <div class="describe-info">
            <div class="describe-info-title">Лучшее тесто</div>
            <div class="describe-info-text">
              Мы создаем тесто только из отборной итальянской муки наивысшего качества
            </div>
          </div>
        </div>
        
        <div class="describe-container">
          <img src="assets/icons/kitchen-pack.svg" class="describe-icon">
          <div class="describe-info">
            <div class="describe-info-title">Лучшие повара</div>
            <div class="describe-info-text">
              Пиццы готовят самые профессиональные итальянские повара
            </div>
          </div>
        </div>
        
        <div class="describe-container">
          <img src="assets/icons/seo-and-web.svg" class="describe-icon">
          <div class="describe-info">
            <div class="describe-info-title">Гарантия качества</div>
            <div class="describe-info-text">
              Наша пиццерия получила множество наград и признаний по всему миру
            </div>
          </div>
        </div>
        
        <div class="describe-container">
          <img src="assets/icons/holidays.svg" class="describe-icon">
          <div class="describe-info">
            <div class="describe-info-title">Отборные рецепты</div>
            <div class="describe-info-text">
              Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>

      <div class="right-side">
        <img src="assets/images/pizza_big.png" class="pizza-big-image">
      </div>
    </div>
    
    <div class="preview-container-button">
      <app-button [label]="'Выбрать пиццу'" [padding]="'25px 54px'"></app-button>
    </div>
  </div>

  <div class="pizza-list-title">Выберите свою любимую пиццу</div>

  <div class="pizza-list-container">
    <app-pizza-card 
      *ngFor="let pizza of pizzas"
      [img]="pizza.img"
      [title]="pizza.title"
      [ingridients]="pizza.ingridietns"
      (click)="openFullscreen(pizza)"
      style="cursor: pointer">
    </app-pizza-card>
  </div>

  <div class="form-container">
    <div class="form-describe">
      <div class="form-describe-title"><span class="form-describe-title-colored">Хватит думать!</span><br>Доставим заказ за<br> 30 минут!</div>
      <div class="form-describe-text">Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!</div>
    </div>
    <div class="form">
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="order-form">
        <div class="form-group">
          <app-input
            placeholder="Ваше имя"
            type="text"
            [control]="nameControl!"
            [errorMessages]="errorMessages.name"
            [disableDots]="true">
          </app-input>
        </div>
        
        <div class="form-group">
          <app-input
            placeholder="Адрес доставки"
            type="text"
            [control]="addressControl!"
            [errorMessages]="errorMessages.address"
            [disableDots]="true">
          </app-input>
        </div>
        
        <div class="form-group">
          <small class="hint">Формат: +7 XXX XXX XX XX</small>
          <app-input
            placeholder="Телефон"
            type="tel"
            [control]="phoneControl!"
            [errorMessages]="errorMessages.phone"
            [disableDots]="true">
          </app-input>
        </div>
        
        <div class="form-actions">
          <app-button type="submit" [label]="'Оформить заказ'" [padding]="'25px 102px'"></app-button>
        </div>
      </form>
    </div>
    <img class="form-end" src="assets/images/pizzzzza.png">
  </div>
</div>

<div #fullscreenContainer class="fullscreen-container" [class.active]="isFullscreenMode">
  <div class="fullscreen-content" *ngIf="selectedPizza">
    <button class="close-btn" (click)="closeFullscreen()" aria-label="Закрыть">
      ✕
    </button>
    
    <div class="image-wrapper">
      <img [src]="selectedPizza.img" 
           [alt]="selectedPizza.title"
           class="fullscreen-image">
    </div>
    
    <div class="pizza-details">
      <h3>{{ selectedPizza.title }}</h3>
      <p class="ingredients">{{ selectedPizza.ingridietns }}</p>
      <p class="fullscreen-hint">Нажмите ESC или кликните крестик, чтобы выйти</p>
    </div>
  </div>
</div>